doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css')
  body
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"  style="margin-bottom: 0px;">
                        <a class="navbar-brand" href="#">NodeJS</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link active"  href="http://localhost:3000/produtos/">Produtos</a>
                            <a class="nav-item nav-link active" href="http://localhost:3000/clientes/">Clientes</a>
                        </div>
                        </div>
    </nav>
    <div class="container">
      block content
    </div>
